﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Download.aspx.cs" Inherits="AppDistribution_Download" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>floralapp&#8482; : Download</title>
    <link href="../Css/Download.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h2>
            Download</h2>
            
        <p>Links to download the floral<b>app</b> mobile application.</p>
        <asp:Label ID="lblErrMsg" runat="server" Text="Error" Visible="false" CssClass="error"></asp:Label>
        <div runat="server" id="appDownloadDiv" style="margin:10px;">
            <h3>
                Android</h3>
            <div runat="server" id="andriodLinks">
            </div>
            <br />
            <h3>
                iPhone</h3>
            <div runat="server" id="iPhoneLinks">
            </div>
        </div>
    </div>
    </form>
</body>
</html>
