<p style="text-align: center; margin: 0px"><span style="background-color: #ffffff; color: #6600ff; font-size: 18pt">Welcome!!</span></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"><span style="background-color: #ffffff; color: #6600ff; font-size: 18pt">Thank you so much for installing Floralapp and for supporting</span></p>
<p style="text-align: center; margin: 0px"><span style="background-color: #ffffff; color: #6600ff; font-size: 18pt">Larese Floral Design.</span></p>
<p style="text-align: center; margin: 0px"><span style="background-color: #ffffff; color: #6600ff; font-size: 18pt">Please Enjoy 20% </span></p>
<p style="text-align: center; margin: 0px"><span style="background-color: #ffffff; color: #6600ff; font-size: 18pt">Off your first order!!!</span></p>