<p style="text-align: center; margin: 0px"><span style="font-weight: bold">Save $5 on your first order.</span></p>
<p style="text-align: center; margin: 0px"><span style="font-weight: bold">Enter code 8U2RFG</span></p>