<p style="margin: 0px; text-align: center;">Welcome to our floralapp!</p>
<p style="margin: 0px; text-align: center;"> Please enjoy our <span style="color: #ff0000; font-weight: bold;"><br />
</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-size: 14pt;">$5.00 off</span><span style="font-size: 14pt;"> </span><br />
</p>
<p style="margin: 0px; text-align: center;">coupon on your first order. <br />
</p>
<p style="margin: 0px; text-align: center;">Your friends at the Winfield Flower Shoppe!</p>