<p style="margin: 0px; text-align: center;">Take <span style="color: #ff0000; font-weight: bold;">$5.00</span> off your order by entering the promotion code <span style="color: #3366ff;">FALL11</span> from our e-mail campaign.</p>
<p style="margin: 0px; text-align: center;">May not be combined with any other order.</p>
<p style="margin: 0px; text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Thank you for choosing &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Winfield Flower Shoppe!</p>