<p style="margin: 0px; text-align: center;">Save</p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-weight: bold; font-size: 14pt;">$10.00</span></p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;">On your Mother's Day order!</p>
<p style="margin: 0px; text-align: center;">Use coupon code ~ MD2011</p>
<p style="margin: 0px; text-align: center;"><a href="http://wfs1.biz" target="_self">www.winfieldflowershoppe.com</a></p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;">minimum order $39.95 expires 05/31/11<br />
</p>