<p style="margin: 0px; text-align: center"><span style="color: #ff00ff; font-style: italic; background-color: #ffffff">Thank you for downloading Floralapp.&nbsp;</span></p>
<p style="margin: 0px; text-align: center"><span style="color: #ff00ff; font-style: italic; background-color: #ffffff">Enjoy <span style="font-weight: bold">$10.00 off </span>your first order!</span></p>