<span style="font-weight: bold;">Hey!&nbsp; JUST for our floralapp users!</span><br />
<br />
Take an additional <span style="color: #ff0000; font-weight: bold;">$5 off </span>ANY order with this coupon!&nbsp; <span style="font-weight: bold;">Code:&nbsp; SEPLTO</span><br />
<br />
Offer good one time, and expires 12/23/11!<br />