Thanks for jumping on board with our super cool, super easy Mobile App!&nbsp; <br />
<br />
We'll take <span style="font-weight: bold; font-style: italic; ">$10.00 off</span> your first order (must be $24.95 or more) - enter <span style="font-weight: bold; ">LAUNCH</span> into the coupon code box.&nbsp; <br />
<br />
Sorry, not valid on stuffed animals only! &nbsp;And not valid with any other offers or discounts.&nbsp;