<p style="margin: 0px; text-align: center;"><span style="font-weight: bold;">Valentine's Day is February 14th!</span> </p>
<p style="margin: 0px; text-align: center;">Save $10 off your order placed on our app <span style="text-decoration: underline;">AND</span> get a free $10 gift card for future orders. Use code <span style="font-weight: bold;">VD10</span> during checkout.</p><br />
<span style="font-family: arial,helvetica,sans-serif; color: #990000;">Valid on orders placed thru 2/10/12. Cannot be combined with any order offer. Cannot be used on our website or instore. Offer only valid on our floralapp.</span>