Cyber Monday Special!<br />
<br />
Today only get $20 off your Floralapp order by using coupon code CYBER upon checkout. All orders must be placed on 11/28/11 to redeem this coupon.<br />
<br />
<span style="font-weight: bold">*Only valid on local orders.</span>