<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; ">Save $10 on your first FloralApp order!&nbsp;</span></p><br />
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; ">Cannot be combined with any other offer. One use per customer.&nbsp;</p>