<p class="MsoNormal" style="line-height: normal; margin: 0in 0in 0pt"><span style='font-family: "verdana","sans-serif"; color: #404040; font-size: 10pt; mso-fareast-font-family: 'times new roman'; mso-bidi-font-family: 'times new roman''>Thank you for using floralapp to place your order. Remember to use your coupon at checkout for $10 off your FIRST order!</span><span style='font-family: "times new roman","serif"; color: #404040; font-size: 12pt; mso-fareast-font-family: 'times new roman''>
<o:p></o:p></span></p>