<span style="font-family: times new roman,times,serif; font-size: 12pt;">Welcome to Vogue's FloralApp!<br />
Use coupon code &quot;</span><span style="font-weight: bold; font-family: times new roman,times,serif; font-size: 12pt;">WELCOME</span><span style="font-family: times new roman,times,serif; font-size: 12pt;">&quot; to save $10 off your first order.</span><br />