<p style="margin: 0px; text-align: center;">Save <span style="color: #ff0000; font-size: 14pt;">$5.00</span> on</p>
<p style="margin: 0px; text-align: center;">Mother's Day Flowers!</p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;">Order Now!</p>
<p style="margin: 0px; text-align: center;">Use promo code:&nbsp;</p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-weight: bold;">MD12</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-weight: bold;"><br />
</span></p>
<p style="margin: 0px; text-align: center;">Minimum order $39.95</p>
<p style="margin: 0px; text-align: center;">Expires 5/10/12<br />
</p>