<p class="MsoNormal" style="line-height: normal; margin: 0in 0in 0pt"><span times="" roman?;="" mso-bidi-font-family:="" ?times="" new="" roman??="" style='font-family: "verdana","sans-serif"; color: #404040; font-size: 10pt; mso-fareast-font-family: '>Thank you for using floralapp to place your order. Remember to use your coupon at checkout for $10 off your FIRST order!</span><span times="" new="" roman??="" style='font-family: "times new roman","serif"; color: #404040; font-size: 12pt; mso-fareast-font-family: '>
<o:p></o:p></span></p>