<p style="margin: 0px; text-align: center;">Receive a <span style="color: #ff0000; font-weight: bold; font-family: arial,helvetica,sans-serif;">$10.00</span> discount</p>
<p style="margin: 0px; text-align: center;">on your Easter order of <br />
</p>
<p style="margin: 0px; text-align: center;">$55.00 or more!</p>
<p style="margin: 0px; text-align: center;">Cannot be combined with other offers.</p>
<p style="margin: 0px; text-align: center;">Expires April 7, 2012<br />
</p>