<p class="MsoNormal" style="line-height: normal; margin: 0in 0in 0pt"><span style='font-family: "arial","sans-serif"; font-size: 10pt; mso-fareast-font-family: 'times new roman''><font color="#000000">Thank you for using floralapp to place your order. Remember to use your coupon at checkout for $10 off your FIRST order! From: Norton's Flowers &amp; Gifts!</font></span><span style='font-family: "arial","sans-serif"; font-size: 12pt; mso-fareast-font-family: 'times new roman''>
<o:p></o:p></span></p>