<p><strong><span style="color: #ff00ff; font-size: small;">Bice's Florist</span></strong></p>
<p><strong></strong></p>
<p><strong><span style="color: #ff00ff; font-size: small;">$13 discount</span></strong></p>