<p style="text-align: center; margin: 0px"><span style="font-size: 12pt; font-weight: bold">Receive a $10 Credit*</span></p>
<p style="text-align: center; margin: 0px"><span style="font-size: 12pt; font-weight: bold">On Your First App Order</span></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: justify; margin: 0px">Thank you for downloading our App!&nbsp; As a token of our appreciation, we would like to give you a $10 credit on the first order you place through our App.&nbsp; Send flowers, plants, or gift items, locally or nationally, or pick them up at our shop.&nbsp; Ordering is easy, <span style="font-weight: bold">Send a floral gift today!</span>&nbsp; It's never to soon to brighten someone's day, and save $10 doing it. </p>
<p style="text-align: justify; margin: 0px"></p>
<p style="text-align: right; margin: 0px"><span style="font-size: 8pt">*Credit restrictions apply.</span></p>