<font color="#000000" size="3" face="Times New Roman">

</font>
<p class="MsoNormal" style="margin: 0in 0in 10pt;"><span style='color: #404040; line-height: 115%; font-family: "verdana","sans-serif"; font-size: 10pt;'>Thank you for using floralapp to place
your order. Remember to use code <span style="font-weight: bold;">&quot;BELLES&quot;</span> at checkout for $10 off
your FIRST order!<o:o:p /></span></p><font color="#000000" size="3" face="Times New Roman">

</font>