<font color="#000000" size="3" face="Times New Roman">

</font>
<p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><font color="#000000"><span style='font-family: "arial","sans-serif"; font-size: 10pt; mso-fareast-font-family: "times new roman";'>Thank you for using floralapp to
place your order. Remember to use your coupon at checkout for $10 off your
FIRST order! From: River Dell</span><span style='font-family: "arial","sans-serif"; font-size: 12pt; mso-fareast-font-family: "times new roman";'><o:o:p /></span></font></p><font color="#000000" size="3" face="Times New Roman">

</font>