<p style="text-align: center; margin: 0px">Place your order <span style="font-weight: bold; text-decoration: underline">BEFORE</span> February 6th for Valentine's Day and receive <span style="font-weight: bold">$3 off </span>your order!!!</p>
<p style="text-align: center; margin: 0px">When checking out enter coupon code <span style="font-weight: bold">EODC</span> to receive the discount.</p>