<span style="font-weight: bold; font-style: italic;">Congratulations!</span><br />
   You are one of the first to use our new floralapp ordering system!<br />
   To show our thanks, use this coupon for<br />
<span style="font-weight: bold;">$5.00</span> off your order! (not to be combined with any other offer...)<br />
<br />