<p class="MsoNormal" style="line-height: normal; margin: 0in 0in 0pt"><span style='font-family: "verdana","sans-serif"; color: #404040; font-size: 10pt'>Thank you for using floralapp to place your order. Remember to use code BBLOOMS at checkout for $10 off your FIRST order!</span></p>