<div style="color: #404040; background-color: #ffffff; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; font-family: verdana, sans-serif; font-size: 10pt; ">
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; ">Save $10 on your first FloralApp order!&nbsp;</span></p><br />
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; ">Cannot be combined with any other offer. One use per customer.&nbsp;</p></div>