Let us show our appreciation and show you how easy it is to use our Floral Mobile Gift Center. <span style="font-weight: bold;">Take $10 off</span> your first order and receive reminders, and special offers. <span style="background-color: #ffff00;">To use just type QTFT72 at checkout.</span>