<span style="font-weight: bold; color: #ff33cc; ">Save $10.00</span> on your first order placed on our new Floralapp! Use promo code <span style="color: #ff33cc; font-weight: bold; ">VILLAGE</span> during the checkout process.