Hi, and thank you for using our Mobile App. We would like to offer you a $10.00 discount on your first mobile order. 
<div id="myEventWatcherDiv" style="display:none;"></div>
<div id="myEventWatcherDiv" style="display:none;"></div>
<div id="myEventWatcherDiv" style="display:none;"></div>
<div id="myEventWatcherDiv" style="display:none;"></div>