<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-style: italic; font-weight: bold; background-color: #ffff00;">Use Coupon Code 1ZYYU4 for $20.00 off any order placed on you Floral App</span></p>
<p style="margin: 0px; text-align: center;"><span style="background-color: #ffff00;"><a href="http://www.plantshed.com" target="_self"><span style="color: #ff0000; font-style: italic; font-weight: bold;">http://www.plantshed.com</span></a></span></p>