<p class="MsoNormal" style="margin: 0in 0in 0pt; line-height: normal;"><span style='color: #404040; font-family: "verdana","sans-serif"; font-size: 10pt;'>Thank you for using floralapp to place your order. Remember to use your coupon at checkout for $10 off your FIRST order!</span></p>