<span style="color: #ff0000; font-weight: bold; ">Save $10.00</span> on your first order placed on our new Floralapp! Use the Promo code <span style="font-weight: bold; color: #ff0000; ">VILLAGE</span> during the checkout process.