<p style="margin: 0px; text-align: center;"><span style="color: #000000; font-weight: bold;">Thank you for downloading the </span><br />
</p>
<p style="margin: 0px; text-align: center;"><span style="color: #000000; font-weight: bold;">Trias Flowers &amp; Gifts Mobile App. </span><br />
</p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;">Please enjoy this $10 off <br />
</p>
<p style="margin: 0px; text-align: center;">coupon as our gift to you.</p>
<p style="margin: 0px; text-align: center;"><br />
 One time use only.&nbsp;</p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;"><br />
</p>