<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"><span style="font-size: 14pt; font-weight: bold">Save $10.00</span><span style="font-size: 14pt"> </span></p>
<p style="text-align: center; margin: 0px"><span style="font-size: 14pt">on your gift of flowers.&nbsp;</span></p>
<p style="text-align: center; margin: 0px"><span style="font-size: 14pt">Use code&nbsp;</span></p>
<p style="text-align: center; margin: 0px"><span style="font-size: 14pt; font-weight: bold">FIRST</span></p>
<p style="text-align: center; margin: 0px"><font size="3"><span style="font-size: 14pt">when you place </span></font></p>
<p style="text-align: center; margin: 0px"><font size="3"><span style="font-size: 14pt">your order</span></font></p>
<p style="text-align: center; margin: 0px"><font size="3"><span style="font-size: 14pt">here!</span></font></p>
<p style="text-align: center; margin: 0px"><font size="3"></font></p>
<p style="text-align: center; margin: 0px"><font size="3"><span style="font-size: 14pt">Thanks again.</span></font></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"><font size="3"><span style="font-size: 14pt; font-weight: bold">Woodlane Flowers</span></font></p>