<div style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; font-size: 10pt; ">
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><span roman??="" new="" times="" style="font-family: arial, sans-serif; font-size: 10pt; "><font color="#000000">Thank you for using floralapp to place your order. Remember to use your coupon at checkout for 10% off all orders for December. &nbsp;Happy Holidays!</font></span></p></div>