<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-family: verdana,arial,helvetica,sans-serif; font-style: italic; font-weight: bold;">Use our Web App to place your order and get $10.00 off your first order. </span></p>