<span style="font-size: 12pt; font-weight: bold; font-style: italic;">Take $10 off</span><span style="font-size: 12pt;"><br />
your first order placed through our floralapp of $49.99 or more!</span><br />
Use code APP1 at checkout.<br />