<p style="margin: 0px; text-align: center;"><span style="font-size: 12pt; color: #cc33cc; font-weight: bold;">Easter Special!</span></p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-size: 14pt;">$5.00 off</span></p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000;">&nbsp;</span><span style="color: #000000;">Please enter coupon code:<span style="font-weight: bold;"> </span></span><span style="color: #cc33cc; font-weight: bold;">EASTER </span><span style="color: #000000;">when you place your order on our floralapp or online at <a href="http://wfs1.biz" target="_self">www.winfieldflowershoppe.com</a> </span></p>
<p style="margin: 0px; text-align: center;"><br />
</p>
<p style="margin: 0px; text-align: center;"><span style="color: #000000;">Minimum order $35.00&nbsp;&nbsp; Expired 4/30/11</span></p><br />
<br />