<p style="text-align: center; margin: 0px">Welcome to The Port Charlotte Florist</p>
<p style="text-align: center; margin: 0px">&nbsp;Floralapp! We would like to thank you for downloading our app by offering you $10 off your first purchase!</p>