<span style="font-family: arial,helvetica,sans-serif">NEW ENGLEWOOD FLORIST SMART PHONE <br />
APP LAUNCH!!<br />
<br />
SAVE $10.00 OFF YOUR 1ST ORDER PLACED WHEN YOU DOWNLOAD OUR FREE APP FOR iPHONE OR ANDROID TODAY!!<br />
<br />
VALID ON LOCAL ORDERS $50.00 VALUE OR HIGHER.</span>