<p style="text-align: center; margin: 0px">Small Business Saturday is this week 11/26</p>
<p style="text-align: center; margin: 0px"><br/></p>
<p style="text-align: center; margin: 0px">Stop in, call or order online for 20% savings</p>
<p style="text-align: center; margin: 0px"><br/></p>
<p style="text-align: center; margin: 0px">Only valid on Saturday 11/26</p>