﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HelpMsg.ascx.cs" Inherits="UserControls_HelpMsg" %>
<div style="margin:10px 0px 10px 0px;" class="showhh"><i>Note: Blue items are published to the mobile device.</i></div>
