﻿body 
{
	margin:0px;
	padding:0px;
	border:medium none; 
	color:#000000;
	font-size:12px;
	font-family:Arial,Verdana,sans-serif;  
	background:#D1EEFB url(../Images/page-bg.png)  repeat;
}

h2
{
	color: #ff6600;
}
 
h1,
h2,
div,
p,
table, 
img,
ul,
ul li
{
	margin:0px;
	padding:0px;
	border:0px;
}
 
p { line-height:18px; }

ul, 
ul li
{
	list-style:none;
}

h2
{
	  font-size:14px;
	  font-weight:bold;
	  color:#FE8E07;
}

a,
a:visited
{
	color:#555555;
}
 
a:hover
{
	color:#555555;
	text-decoration:underline;
}

.mainDiv
{
	float:none;
	display:block;
	text-align:left;
	width:996px; 
	background-color:#ffffff; 
}

.headerDiv
{
	/*background:url(../Images/right-top-bg1.png) no-repeat scroll 100% 0;  
	background:url(../Images/header_bg.png) repeat-x scroll 0 0;  */
	height:88px;
	width:996px;
	border:0px solid #ffffff;
	color:#ffffff;
	background:url(../Images/floralapp-header-bg.png) repeat-x scroll 100% 0;
}

.headerLeft
{
	float:left;
	width:350px;
	height:88px;
	text-align:left;	
	background:url(../Images/Login/floralapp_logo_250.png) no-repeat 10px 10px;	 
}

.headerLeft .logoTitle
{  
	color:#FF6600; 
	font-family:Trebuchet MS, Arial, Verdana ;
	font-size:24px;
	font-weight:bold; 
	text-transform:uppercase;
	margin:0px;
	line-height:90px; 
}

.headerRight
{
	float:right;
	width:646px; 
	height:88px;
	/*background:url(../Images/floralapp-header-bg.png) repeat-x scroll 100% 0;*/
} 
/*
.headerRight .more
{ 
	font-size:13px;
	font-weight:bold;
	float:left;
	margin:10px 0px;
	text-align:right;
	margin-top:10px;
	width:280px;
}
*/

.loginStatus
{ 
	font-size:13px;
	font-weight:bold;
	float:right;
	margin:10px;
	text-align:right;
	margin-top:10px;
	width:345px;
}

.loginStatus .lastLogin
{
	font-size:12px; 
	font-weight:normal;
	text-align:right;
	margin-top:10px;
}

.loginStatus a,
.loginStatus a:visited
{
	text-decoration:none !important;
	font-size:13px !important;
	color:#ffffff !important;	 
	font-weight:bold;
} 

.loginStatus a:hover
{
	text-decoration:underline !important; 
}
 
.headerDiv h1
{
	padding-top:15px;
	font-size:26px;
}
 
/* Menu Bar Start */

div#navbar
{
	margin: 0;
	padding: 0;
	/*border: 1px solid #fff;*/
	border-top: none;
	background:#65b9cd url(../Images/TopMenuBarNormalBg.png) repeat-x scroll 0 0; /*titlebar_bg.jpg*/
	/*width:100%;*/
	height:38px;
}

#navbar ul
{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	border: none; 
}

#navbar ul li
{
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background:url(../Images/menudevider.png) no-repeat scroll 100% 0; /*titlebar_bg.jpg*/
}

#navbar a
{
	float: left;
	margin: 0;
	padding: 7px 0;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

#navbar ul ul
{
	position: absolute;
	visibility: hidden;
	/*display: none;*/
	z-index: 99;
}

#navbar ul li ul
{
	/*float: left;*/
	/*display: block;*/
	position: absolute;
	left: 0;
	margin: 0;
	margin-top:37px;
	padding: 0;
	border: 2px solid #fff;
	width: 200px;
	background-color: #fff;
	color: #fff;
}

#navbar li ul li
{
	float: left;
	display: block;
	width: 200px;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #8FECFF;
	border-bottom:none;
	font-size: 12px;
	font-weight: normal;
}

#navbar li ul li a
{
	float: left;
	display: block;
	margin: 0;
	padding: 5px 10px;
	border: none;
	width: 180px;
	text-align: left;
	color: #999;
	text-transform: none;
}

#navbar li ul li a:hover
{
	color: #000;
	background-color: #ccc;	
}

#navbar li:hover > ul
{
	visibility: visible;
	/*display: block;*/
}

#navbar a span.navlabel
{
	margin: 0 auto;
	padding: 0;
	border: none;
	text-align: center;
}

#navbar a.nav-root
{ 
	color: #fff; 
	padding:12px 20px 11px 20px;
	letter-spacing:1px;
}

#navbar a.nav-root:hover
{
	color: #000; 
	background-color: #ff9900; 
	background:url(../Images/TopMenuBarActiveBg.gif) repeat-x scroll 100% 0;
}

#navbar a.nav-parent
{
	padding:11px 20px 11px 20px;
	color: #fff; /*#999;*/
	letter-spacing:1px;
}

#navbar a.nav-parent:hover
{
	color: #000; 
	background-color: #ff9900; 
	background:url(../Images/TopMenuBarActiveBg.gif) repeat-x scroll 100% 0;
}

#navbar a.selected
{
	color: #000; 
	background-color: #ff9900; 
	background:url(../Images/TopMenuBarSelectedBg.gif) repeat-x scroll 100% 0; 
}

#navbar ul li ul.navsub-root
{
	border:1px solid #0F89A5;
	border-top:none;
	background-color: #6dbed1; 
}

#navbar ul li ul.navsub-root li a
{
	color: #ffffff;
}

#navbar ul li ul.navsub-root li a:hover
{
	color: #fff;
	background-color: #ff9900; 
	background:url(../Images/TopMenuBarActiveBg.gif) repeat-x scroll 100% 0;
}
 
 
 
.contentDiv
{
	width:996px;  
	min-height:400px;	
}
 
.contentDiv .leftMenuDiv
{
	width:220px;  
	border:0px solid #c0c0c0;
}

.contentDiv .rightContentDiv
{ 
	margin:0px 10px 0px 10px; 
	float:right;
	width:754px; 
}

/* CSS for Left Panel Start Here */
.leftPanel
{
	background-color: #E4EDF4; 
	padding:6px;
	
}  

.leftPanel th 
{
	border:#BFDFEE 1px solid; 
	background-color:#E2F6FD; 
	background:url(../Images/tablebg.jpg) repeat-x scroll 0 0;	
	height:28px;
	padding-left:10px;
	color : #000000;
} 

.leftPanelTD
{
	border:#BFDFEE 1px solid; 
	background-color:#E2F6FD; 
	text-align:left;
	
}

.leftPanelFooter
{
	border:#BFDFEE 1px solid; 
	background-color:#BFDFEE; 
	padding:5px;
}

.leftPanelContentHeading
{
	font-size:12px;
	color : #21618C; 
	text-decoration:none;
	font-family:  Arial, Helvetica, sans-serif;
	padding:5px;
	font-weight:bold;
}

.leftPanel a,
.leftPanel a:visited
{
	color : #ff8f00; 
}

.leftPanel a:hover
{
	color : #000000; 
}

.leftPanelFooter a,
.leftPanelFooter a:visited
{
	color : #000000; 
}

.leftPanelFooter a:hover
{
	color : #ff0000; 
}




.OrangeText_LeftPanel{
	font-size:11px;
	color : #ff8f00;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	}
.BlackTxt_Link{
	font-size:11px;
	color : #000000;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	}
:hover.BlackTxt_Link{
	font-size:11px;
	color : #ff0000;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	}
/* CSS for Left Panel End Here */

.rightPanel
{
	width:760px;
	padding:6px 0px 6px 6px; 
}

.hrDiv
{
	background:#FFBB69;	
	height:5px;
	display:block;
	clear:both;
}

.footerDiv
{	  
	padding:10px;
	color:#ffffff;
	background:#1A384B;
}

.footerDiv .navDiv a,
.footerDiv .navDiv a:visited
{
	color:#555555;
	padding:0px 5px 0px 5px;	
	text-decoration:none;
}

.footerDiv .navDiv a:hover
{
	color:#B941BB;
	text-decoration:underline
}

.footerDiv .navDiv,
.footerDiv .navDiv p
{	  
	text-align:center; 
}

.footerDiv .navDiv p
{
	margin-top:10px;
	line-height:18px;
	color:#777777;
}

/*---------- Style Needs to be cleanup   -----------*/
.TableBorder{
	border : #bbdef1 1px solid;
	padding:5px;
	font-weight: normal; 
	font-size: 12px;
	color: #535152;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	}
.TableHeadingBg{
	background:url(../Images/tablebg-aqua.jpg) repeat-x;
	height:28px;
	border : #bbdef1 1px solid;
	font-weight: bold; 
	font-size: 12px;
	color: #535152;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	/*text-indent : 5px;*/
	padding-left:5px;
	text-align:left;
	} 
.HeadingEditButton{
	padding:0px 5px 0px 0px
	}
.FilterContentDetails,
.PagerContentDetails,
.FooterContentDetails
{
	border : #bbdef1 1px solid;
	padding:5px 5px 5px 5px;
	font-weight: bold; 
	font-size: 12px;
	color: #21618C;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color : #EAF5F9;
	text-align:right;	
}

.FilterContentDetails
{
	background-color : #ffffff;
	font-weight: normal; 
}
 
 
.detailTable
{
	border:1px solid #E2E2E2;
	padding:5px;
	width:100%;
	border-collapse: collapse
}

.detailTable .col
{ 
	font-weight: bold; 
	width:130px; 
}

.detailTable .val
{
	font-weight: normal; 
	
}

.detailTable .col,
.detailTable .val
{
	border:1px solid #E2E2E2;
	padding:5px;
	color:#535152; 
	font-size:11px;  
	text-align:left;
	text-decoration:none;
	vertical-align:top;
}
  
.detailTable input,
.detailTable select,
.detailTable textarea
{ 
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	width:250px;
}

.detailTable input 
{
	width:250px;
}

.detailTable .textbox,
.detailTable .select
{
	width:250px;
} 

.detailTable textarea
{ 
	width:250px;
	height:70px;
}

.detailTable .fileupload
{
}

.detailTable .checkbox,
.detailTable .checkbox input
{	 
	width:10px !important;
}



.btn
{
	background-color:#0C4F7C;
	border:0 solid #0C4F7C;
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	padding:3px;
}

.emptyRow
{
	height:25px;
}

.actionDiv
{
	text-align:center;
	margin:25px;
}

.error
{
	color: #ff0000;
	font-weight:bold;
}
.success
{
	color: #0000ff;
	font-weight:bold;
}
.subHeader
{
	width:15%; 
	margin-top:20px;  
	border:#e2e2e2 1px solid;
	background:#D3E49D;
	font-weight:bold;
	padding:4px;
	text-align:left;
	color:#596B1E;
	text-transform:capitalize;
}

/* ---------- General styles ---------- */

.floatnone
{
	float: none;
}

.floatleft
{
	float: left;
}

.floatright
{
	float: right;
}

.clear,
.clearboth
{
	clear: both;
}

.clearleft
{
	clear: left;
}

.clearright
{
	clear: right;
}

.lowercase
{
	text-transform: lowercase;
}

.uppercase
{
	text-transform: uppercase;
}

.hidden
{
	display: none;
}

.filterSection
{
	margin:0px;  
	background-color:#E1E6EE;
	padding:5px;
	border:1px solid #B8CBDE;
}

.filterSection .label
{
	color:#555555; 
}

.filterSection input,
.filterSection select
{
	background-color:#FFFFFF;
	border:1px solid #B8CBDE;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	margin:0 5px 0 0;
	padding:2px 0px 2px 0px;
}

.filterSection .btnFilter,
.btnGreen
{
	color:#ffffff;
	font-weight:bold;
	border:1px solid #76923C;
	background-color:#749E1E; 
	background:url(../Images/floralap_filter_img.png) repeat-x; 
	padding:2px 4px 2px 4px;
	font-size:11px;
	
}
.filterSection .btnFilterDisable
{
	color:#ffffff;
	font-weight:bold;
	border:0px solid #000000;
	background-color:#B9B7AF; 
	padding:1px 3px 1px 3px;
	
}
.filterSection td
{
	text-align:left;
	/*padding: 5px;*/
}

.filterSection table .label
{
	font-weight:bold;
	width:50px;
}

.filterSection table .value
{
	width:120px;
}

.filterSection #dateRange .label
{
	padding-left: 15px;
	padding-right: 10px;
}

.filterSection .purcahseDateFilter
{
	width:80px;
}

.message
{
	color:Blue;
	font-weight:bold;
}

.desc
{
	font-style:italic;
	color:#535152;
	font-size:11px; 
	text-align:left;
	text-decoration:none;
	vertical-align:top;
	margin:10px 0px 10px 0px;
}

.reqd
{
	color:Red;
	font-size:12px;
}

.showhh
{
	color:#238DC4 !important; 
}

.tran-success
{
	color:#149107 !important; 
	font-weight:bold !important;
	font-size:14px !important;
	text-transform:uppercase !important;
}

.tran-failed
{
	color:#ff0000 !important; 
	font-weight:bold !important;
	font-size:14px !important;
	text-transform:uppercase !important;
}

.tran-pending
{
	color:#FF8800 !important; 
	font-weight:bold !important;
	font-size:14px !important;
	text-transform:uppercase !important;
}

/***************/
