﻿/* Extended */
.grid
{ 
	border:#e2e2e2 1px solid;
	font-size: 11px;
	color: #535152;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding:4px;
	background:#ffffff; 
}

.gridContent 
{
	border:#e2e2e2 1px solid;
	font-size: 11px;
	color: #535152;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;/*2px 4px 2px 4px;*/
	text-align:left;
	vertical-align:top;
}

.gridFooterContent
{
	border:none;
	font-size: 12px;
	font-weight:bold; 
	color: #535152;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 4px;/*2px 4px 2px 4px;*/
	text-align:Right;
	vertical-align:top;
	font-style:italic;
}

.gridContent a,
.gridContent a:visited
{   
	color: #535152; 
}

.gridContent a:hover 
{   
	color: #ff0000; 
}

.gridHeader,
.gridHeader th
{
	border:#e2e2e2 1px solid;
	background-color:#eee;
	font-weight:bold;
	padding:4px;
	text-align:left;
}

.gridHeader a,
.gridHeader a:visited
{  
	font-weight:bold; 
	text-align:left;
	color: #535152;
	text-decoration: none; 
	display:block;
}
 
.gridHeader a:hover
{
	font-size: 11px;
	color: #ff0000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline; 
}

.gridEmptyRow
{
	border:#e2e2e2 1px solid;
	font-size: 11px;
	color: #535152;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding:4px;
	text-align:center; 
	height:100px;
}

.halign-right
{
	text-align:right !important;
}

.halign-left
{
	text-align:left !important;
}

.halign-center
{
	text-align:center !important;
}
	
