﻿ 
body 
{
	margin:0px;
	padding:0px;
	border:0px;
	font-family: Tahoma, Arial, Verdana;
	font-size:11px;	
	background:#D1EEFB url(../Images/page-bg.png)  repeat-x;
	height: 100%;
} 

.loginContainer
{
	background:transparent url(../Images/Login/login-ctrl-bg.png)  no-repeat;
	margin:auto auto 20px auto;
	width:405px;
	height:215px; 
}

.titleBar
{
	background:transparent url(../Images/Login/floralapp_logo_250.png) 10px 10px no-repeat;
	width:250px;
	height:76px;		 
}

.msgDiv
{
	padding: 0px 20px;
	color:Red;	
	height:25px;
}

.login
{
	margin:0px 35px;
}

.login td
{
	padding:4px;
}

.login .label
{
	font-size:12px;
	font-weight:bold;	
	color:#333333;
	font-weight:bold;
	text-align:right;
	width: 90px;
}
 
.login .txtbox
{
	color:#333333;
	font-size:13px;
	border:1px solid #E76A21;
	padding:3px;
	width:180px;
	background:transparent url(../Images/Login/input-ctrl-bg.png)  repeat-x;	
}

.login .btn
{
	color:#ffffff;
	font-weight:bold;
	border:0px solid #79C142; 
	padding:2px 12px 6px 12px;
	width:85px;
	height:32px;
	background:transparent url(../Images/Login/login-btn-bg.png)  no-repeat;
	cursor:pointer;	
}
 
.errMsg
{
	color:#ff0000;
} 

 