﻿.PopUpBox
{
	border-collapse: collapse;
	border:5px solid #115481;
	text-align:left;
}

.PopUpBoxHeading
{
	background-color:#115481;
	border-bottom:5px solid #115481;
	text-transform: uppercase;
	color:#ffffff;
	font-weight:bold;
	padding-top:5px;
}

.filterDiv
{
	padding: 2px 2px 2px 10px;
}


.filterDiv input
{
	width:150px;
}

.filterDiv input,
.filterDiv select 
{
	margin-right:10px; 
}
.filterDiv .btn
{
	width:70px;
	font-size:12px;
	padding:2px;
}


