﻿/* SiteMap */
.sitemap
{
	margin:0px 0px 5px 0px; 
	padding:10px; 
	color:#ff8800;
	font-size:11px;
	background:#EEF8FA;
	overflow: hidden;
}

.sitemap a,
.sitemap a:visited
{
	color:#000000; 
	text-decoration:underline;
	margin:0px;
}

.sitemap a:hover
{
	color:#238DC4;
	text-decoration:none;
}

.sitemap .separator
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	margin:0px 4px 0px 4px;
}

.more-settings
{
	float:right;
	width:400px;
	text-align:right; 
}

.more-settings a,
.more-settings a:visited
{
	color:#21618C; 
	text-decoration:underline;
	margin:0px;
}

.more-settings a:hover
{
	color:#238DC4;
	text-decoration:none;
}