﻿<div style="font-family: Arial,Verdana; font-size: 14px; padding: 0px; line-height: 16px;
    margin: 0px;">
    <p style="margin: 0px;">
        Hello,</p>
    <br />
    <p style="margin: 0px;">Your floralapp Login ID and Password is</p>
    <br />
    <p style="margin: 0px;">Login ID: <b>{loginid}</b></p>    
    <p style="margin: 0px;">Password: <b>{password}</b></p>.     
    <div>
        <i>Please update your password at "Settings > Change Password" section in floralapp's admin site.</i>  
    </div>
    <br />
    <p style="margin: 0px;">
        Thank you,</p>
    <p style="margin-top: 5px;">
        floralapp&reg;</p>
</div>
