﻿<div style="font-family: Arial,Verdana; font-size: 14px; padding: 0px; line-height: 16px;
    margin: 0px;">
    <p style="margin: 0px;">
        Hello,</p>
    <br />
    <p style="margin: 0px;">There is a lost password request at floralapp by the user '{username}'.</p>
    <br />
    <p style="margin: 0px;">Login ID: <b>{loginid}</b></p>    
    <p style="margin: 0px;">Password: <b>{password}</b></p>.     
    
    <br />
    <p style="margin: 0px;">
        Thank you,</p>
    <p style="margin-top: 5px;">
        floralapp&reg;</p>
</div>
