﻿<div style="font-family: Arial,Verdana; font-size: 14px; padding: 0px; line-height: 16px;
    margin: 0px;">    
    <p style="margin: 0px;">
        Name: <b>{name}</b></p>
    <p style="margin: 0px;">
        Shop Name: <b>{shopname}</b></p>
    <p style="margin: 0px;">
        Phone: <b>{phone}</b></p>
    <p style="margin: 0px;">
        Email: <b>{email}</b></p>
    <p style="margin: 0px;">
        Web address of where you are seeing the problem: <b>{url}</b></p>
    <p style="margin: 0px;">
        Description:
        <br />
        <b>{description}</b></p>
    <br />
    <p style="margin-top: 5px;">
        floralapp&reg;</p>
</div>
