﻿<div style="font-family: Arial,Verdana; font-size: 14px; padding: 0px; line-height: 16px;
    margin: 0px;">
    <p style="margin: 0px;">
        Hello,</p>
    <br />
    <p style="margin: 0px;">
        <i><b>{FirstName} {LastName}</b></i> of <i><b>'{shop}'</b></i> has accepted the<i><b>
            "Terms and Conditions" </b></i>and successfully logged-in into floralapp's admin
        site.</p>
    <br />
    <br />
    <p style="margin: 0px;">
        Thank you,</p>
    <p style="margin-top: 5px;">
        {shop}</p>
</div>
