﻿<div style="font-family: Arial,Verdana; font-size: 14px; padding: 0px; line-height: 16px;
    margin: 0px;">
    <p style="margin: 0px;">
        <b>Shop:</b><i> {shop}</i>
    </p>
    <p style="margin: 0px;">
        <b>Date Range:</b><i>{daterange}</i>
    </p>
    <br />
    <table style="font-family: Arial,Verdana; border: 0px; margin: 0px; padding: 0px;
        width: 500px; text-align: left; font-size: 12px;">
        <tr>
            <th style="text-align: center;">
                Consumer(s)
            </th>
            <th style="text-align: center;">
                Download(s)
            </th>
            <th style="text-align: center;">
                Request(s)
            </th>
        </tr>
        {AddViralRow}
    </table>
</div>