﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TestGravity.aspx.cs" Inherits="TestGravity" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>
            Test Gravity Integration
        </h1>
        <asp:Button Text="Import" runat="server" OnClick="Unnamed1_Click" />
    </div>
    </form>
</body>
</html>
