<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt; font-weight: bold;">SHOW YOUR PHONE for BOGO on roses... </span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt; font-weight: bold;">Buy a dozen mixed colored roses and get a dozen FREE!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt; font-weight: bold;">Valid in store&nbsp;through the month of June.</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; font-weight: bold;">Limit one per customer, cannot be combined with any other offer. Delivery not included.</span></p>