Use our mobile app this month and receive <span style="font-weight: bold;">25% off </span>your entire mobile order!<br />
Just use code FALLFUN during checkout. <span style="font-style: italic;">Expires Oct 31st, 2011<br />
Offer good only on mobile app orders. Not valid on in store or online. <br />
</span>