<div style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px; font-size: 10pt; ">
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><font color="#000000" face="arial, sans-serif">Send the perfect gift for less:</font></p>
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><font color="#000000" face="arial, sans-serif"><br />
</font></p>
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><span roman??="" new="" times="" style="font-family: arial, sans-serif; font-size: 10pt; "><font color="#000000"><span style="font-weight: bold; ">10% off all floralapp orders in December</span></font></span></p>
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><font color="#000000" face="arial, sans-serif"><b><br />
</b></font></p>
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><span roman??="" new="" times="" style="font-family: arial, sans-serif; font-size: 10pt; "><span roman??="" new="" times="" style="font-size: 10pt; color: #000000; ">Just use coupon code&nbsp;</span><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif; font-weight: bold; color: #000000; ">VJ8M0D</span><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif; color: #000000; ">&nbsp;at checkout to enjoy a full month of discounts exclusive to floralapp users. &nbsp;Be sure to view the Holiday / Seasonal section for special Christmas and Holiday arrangements!</span></span></p>
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><font color="#000000" face="arial, sans-serif"><br />
Happy Holidays from Wyckoff Florist &amp; Gifts.</font></p>
<p class="MsoNormal" style="margin-top: 0in; margin-right: 0in; margin-bottom: 0pt; margin-left: 0in; "><font color="#000000" face="Arial, Helvetica, sans-serif"><br />
</font></p></div>