<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
<br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />
<br />
<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
  <br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />
<br />
<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
  <br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />
<br />
<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
  <br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />
<br />
<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
  <br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />
<br />
<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
  <br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />
<span style="color: #0000cc;">this is some dev testing Special Offers<br />
this is some dev testing Special Offers<br />
  <br />
<span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff0000;">this is some dev testing Special Offers</span><br />
<br />
<span style="color: #0000cc;"><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
</span><span style="color: #ff00ff;">this is some dev testing Special Offers</span><br />
<br />
1231232132132132132131231231212213<br />