<img alt="" src="file:///Users/Andrew/Library/Caches/TemporaryItems/moz-screenshot.png" /><span style="font-weight: bold;">Send a dozen roses to your sweetie, delivered for only $60.00!</span><br />
<br />
   Today through Sunday, February 13th, Boesen the Florist is offering a <span style="font-weight: bold;">DOZEN</span> roses delivered to your sweetie for<span style="font-weight: bold;"> ONLY $60.00</span>.&nbsp; What a great Valentine's Day surprise for that special someone!<br />
<br />
For this special, simply call our mail store number at 515-244-ROSE (7673) and ask for the <span style="font-weight: bold;">&quot;Boesen's Mobile App Magic&quot;</span><br />
<br />
(local deliveries only)<br />
 <br />
Thank you!<br />
From Boesen the Florist