Take home flowers this weekend.<br />
Take 50% off any designers choice arm bouquet in mixed flowers and colors.<br />
Use code DC40<br />
For in store pick up or local delivery. May not be wired out.<br />
<br />
Use Code DC40 from your floral app.<br />
Under Gifts under 50.00<br />
Thru Friday June15th 2012&nbsp;only $20.00 plus tax and delivery fee if applicable.