<p style="margin: 0px; text-align: center;"><span style="font-family: georgia,times new roman,times,serif; color: #ff0000; font-weight: bold;">Valentine's Day Is Almost Here!</span></p>
<p style="margin: 0px; text-align: center;"><span style="font-family: georgia,times new roman,times,serif; color: #ff0000;">Get a FREE $10 box of chocolates with your Valentine's Day order.&nbsp; Exclusive to Eastern Floral FloralApp Users.<br />
</span></p>
<p style="margin: 0px; text-align: center;"></p>