<p style="text-align: center; margin: 0px;"></p>
<p style="text-align: center; margin: 0px;"></p>
<p style="text-align: center; margin: 0px;">Take <span style="color: #ff0000;">$5.00</span><span style="color: #000000;"> off your Mother's Day order.</span></p>
<p style="text-align: center; margin: 0px;"><span style="color: #000000;">Use promo code MD2011 .</span></p>
<p style="text-align: center; margin: 0px;"><span style="color: #000000;">Mimimum order $39.95</span></p>