This week's&nbsp;Cash &amp; Carry Deals on fresh flowers:<br />
<ul>
<li>24 Assorted color Roses&nbsp; 40 cm long for $18.87</li>
<li>12 Iris for $14.15</li>
<li>Gerberas&nbsp; $2.00 each</li>
<li>Anemones $1.50 each (arriving Thursday)</li></ul>Stop in between 9 AM &amp;&nbsp;6 PM for these flowers which have just arrived direct from the farms<br />
&nbsp;<br />
Cash &amp; Carry, unarranged only. Prices good while supply last.