<p style="text-align: center; margin: 0px"><span style="color: #cc33cc; font-size: 12pt; font-weight: bold">Easter Special!</span></p>
<p style="text-align: center; margin: 0px">&nbsp;<span style="color: #ff0000; font-size: 14pt">$5.00 off</span></p>
<p style="text-align: center; margin: 0px">&nbsp;<span style="color: #ff0000">&nbsp;</span><span style="color: #000000">Please enter coupon code:</span></p>
<p style="text-align: center; margin: 0px"><span style="color: #000000">&nbsp;EASTER</span></p>