<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-size: 14pt; font-weight: bold;">Valentine's day is February 14th!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-size: 14pt; font-weight: bold;">Save $10 off your order placed on our app.</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-size: 14pt; font-weight: bold;">Use Code BeMine at check out.</span></p>
<p style="margin: 0px; text-align: center;"></p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000; font-size: 12pt; font-weight: bold;">Offer cannot be combined with any other offer. Good on orders placed thru 2/11</span></p>