<p style="margin: 0px; text-align: center;"><span style="font-size: 14pt; color: #ff0000;">This is a test offer set up by Lindsay on 4/18/12. Save $5 off any app order! Use code 1234XYZ at checkout. </span><span style="font-size: 14pt; color: #0033ff;"><br />
 </span></p>
<p style="margin: 0px; text-align: center;"><span style="font-size: 14pt; color: #0033ff;">Cannot be combined with any other offers.</span></p>