<p style="margin: 0px; text-align: center;"><span style="color: #ff0000;">12 days before Christmas SALE!</span></p>
<p style="margin: 0px; text-align: center;">Beginning Monday, Dec. 12 2011 ~ we will be offering our remaining Christmas gift items on SALE! Monday - Take 25 % off...Tuesday Take 26% off...Wednesday Take 27% off and so on until December 24 th.</p>