<p style="margin: 0px; text-align: center;"><span style="color: #ff00ff; font-size: 12pt;">Save $10 on your Mother's Day order!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Mother's Day is Sunday, May 13th. For all Mom does, show her your appreciation with the gift of flowers! Refer to coupon code MOM12<br />
</span></p>