<span style="font-weight: bold; color: #ff0000; font-style: italic; font-size: 14pt;">Valentine's Day is February 14th!</span><br />
<span style="font-weight: bold; font-size: 12pt;">Get $10 off your Valentine's order</span><span style="font-size: 12pt;"> </span><span style="color: #ff0000; font-size: 12pt;"><br />
when you select Monday 2/13 as your delivery date!</span><span style="font-size: 12pt;"> <span style="font-weight: bold;"><br />
Use code VD1 at checkout.<br />
</span></span>