<p class="MsoNormal" style="margin: 0in 0in 0pt"><font color="#000000" size="5" face="Lucida Console"><span style="font-size: 8pt">Order your Valentine’s Flowers for delivery on Saturday 02/11, Sunday 02/12 or Monday 02/13 and City Line Florist will send you a coupon for a free dozen summer roses.</span></font></p>
<p class="MsoNormal" style="margin: 0in 0in 0pt"></p>
<p class="MsoNormal" style="margin: 0in 0in 0pt"><font color="#000000" size="5" face="Lucida Console"><span style="font-size: 8pt">The coupon is valid from 06/01/12 to 08/31/12 and must be presented in person. Slect the rose color at time of pick up from inventory. cannot be combined with any other offers.</span></font></p>
<p class="MsoNormal" style="margin: 0in 0in 0pt">
<o:p><font color="#000000" size="5" face="Lucida Console">&nbsp;</font></o:p></p>
<p class="MsoNormal" style="margin: 0in 0in 0pt"></p>