<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; font-family: verdana, arial, helvetica, sans-serif; font-size: 14pt; color: #006633; ">Win 4 dozen roses or a $200 gift card!&nbsp;</span></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><br />
<font color="#003300" face="verdana, arial, helvetica, sans-serif"><b>Simply register your account and you're entered to win!</b></font></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><font color="#003300" face="verdana, arial, helvetica, sans-serif"><b><br />
Winner will announced October 20, 2011.</b></font></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><font color="#003300" face="verdana, arial, helvetica, sans-serif"><b>No purchase necessary.</b></font></p>