<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; ">SAVE $10 THIS MOTHERS DAY.&nbsp;</p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; ">ENTER CODE <span style="color: #ff0000; ">TKSMOM</span> AND SAVE $10</p>