<p style="margin: 0px; text-align: center;"><span style="color: #cc0099; font-size: 14pt; font-weight: bold;">There's still time to have flowers HAND DELIVERED for Mother's Day!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #cc0099; font-size: 14pt; font-weight: bold;">Get 10% off&nbsp;your floralapp order placed by tomorrow.</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #cc0099; font-size: 14pt; font-weight: bold;">Use code MD510 at checkout.</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #cc0099; font-size: 10pt; font-weight: bold;">Limit one per customer. Cannot be combined with any other offer.</span></p>