<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-size: 14pt; font-weight: bold; color: #330066; ">Save $7 on Secretaries Week Orders!</span></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; "><br />
</span></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; ">Use code: AdminApp</span></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; ">Expires: 4/27/12</span></p>