<p style="margin: 0px; text-align: center;"><span style="color: #000099; font-size: 18pt;">TODAY ONLY, take 20% off your order placed on our app!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #000099; font-size: 18pt;">Use code PUSH20 at checkout.</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #000099; font-size: 18pt;">Remember, Easter is April 8th!</span></p><br />