Congratulations to <span style="font-weight: bold;">Lillian Gascoyne</span>, winner of the brand new 42&quot; TV!<br />
        We would also like to thank all of you for participating in this giveaway and hope that you enjoy the FloralApp! To thank you for partaking, we are giving you $5 off your next Floral App order- use code WICHTR to access!<br />