<span style="font-weight: bold; font-style: italic;">Today only: Save 15% on your Valentine's order!</span> Deliver Monday, February 13th and we'll sweeten the deal with a <span style="font-weight: bold; font-style: italic;">FREE </span>heart-shaped cookie!<br />
<br />
<span style="font-style: italic;">Coupon code: 'VDAY15'</span><br />