<p style="margin: 0px; text-align: center;">When you place your order for Mother's Day</p>
<p style="margin: 0px; text-align: center;">Mention Code MD12</p>
<p style="margin: 0px; text-align: center;">and receive</p>
<p style="margin: 0px; text-align: center;"><span style="color: #ff0000;">$5.00 off</span></p>
<p style="margin: 0px; text-align: center;"><font color="#ff0000">Plus we will send a $10.00 to your&nbsp;recipient!</font></p>
<p style="margin: 0px; text-align: center;"><font color="#ff0000"><br />
</font></p>