Thanksgiving is next Thursday ~ Nov. 24. Hurry, Save $5.00 by ordering today! Use promo code F2011 when ordering. <a href="http://www.winfieldflorist.com" target="_self">www.winfieldflorist.com</a><br />
<span style="color: #cc3300;">Winfield Flower Shoppe<br />
0s 118 Winfield Rd.<br />
Winfield, Il. 60190<br />
630.668.8460<br />
</span><span style="color: #006633;">We send flowers World Wide</span><br />