<span style="font-weight: bold; font-style: italic;">For a limited time, we are giving you $10 off your First order submitted through our app!</span><br />
 Offer is good on any order of $49.99 or more (excluding delivery and tax), and must be placed through your phone. <br />
<br />