<p style="margin: 0px; text-align: center;"><span style="color: #ff6633; font-family: georgia,times new roman,times,serif; font-size: 18pt; font-weight: bold;">Receive $10 OFF your order when you download the floralpp and register your information!</span></p>