<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><span style="font-weight: bold; font-size: 14pt; color: #ff0000; ">Cyber Monday!</span></p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; "><br />
<span style="font-weight: bold; ">Take $15 off any single order today only.</span></p>