<p style="margin: 0px; text-align: center;"><span style="font-weight: bold; color: #ff0099;">Valentine's Day is February 14th!</span> </p>
<p style="margin: 0px; text-align: center;">Save $10 off your order placed on our app <span style="text-decoration: underline;">AND</span> get a free $10 gift card for future orders. Use code <span style="font-weight: bold;">VD10</span> during checkout.</p>
<p style="margin: 0px; text-align: center;"><br />
</p>