<p style="margin: 0px; text-align: center;">        <span style="font-size: 14pt; color: #ff0000;">Take $10 OFF Your First Order!<br />
        </span>    </p>    
<p style="margin: 0px; text-align: center;">        <span style="color: #000000;">Let us show our appreciation and show you how easy it             is to save with the Mobile Gift Center App. <span style="font-weight: bold;">Take $10                 off</span> your first order and receive reminders, and             <br />
        </span>    </p>    
<p style="margin: 0px; text-align: center;">    </p>