<p style="margin: 0px; text-align: center;"><span style="color: #9900ff; font-size: 14pt; font-weight: bold;">TODAY ONLY, take 20% off your order placed on our app! </span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #9900ff; font-size: 14pt; font-weight: bold;">Use code PUSH20 at checkout. </span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #9900ff; font-size: 14pt; font-weight: bold;">Remember, Easter is April 8th!</span></p>