<p style="margin: 0px; text-align: center;"><span style="color: #0000ff; font-family: georgia,times new roman,times,serif; font-size: 10pt; font-weight: bold;">Happy &quot;First Day of Spring&quot; FloralApp Friends!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-family: georgia,times new roman,times,serif;">In honor of our favorite day, we invite you to take $10 off any order today and tomorrow.</span></p>
<p style="margin: 0px; text-align: center;">&amp;</p>