<p style="margin: 0px; text-align: center;"><span style="color: #0000cc; font-size: 10pt;">Save $10 on your order of $50, or more for Father's Day!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #000000; font-size: 10pt;">Father's Day is Sunday,June 17th. For the guy who has everything, send him a gift he's sure to love! Refer to coupon code DAD2012</span></p>