<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-size: 14pt; font-weight: bold;">Testing the Special Offer. Use code 123456 at checkout. Mother's Day flowers, order now on the app!</span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #009933; font-size: 10pt; font-weight: bold;">Limit one per customer, cannot be combined with any other offer</span></p>