<span style="color: #ff0000; font-size: 24pt;">Valentine's Day is February 14th!&nbsp;<br />
Save $10 off your order placed on our app <span style="text-decoration: underline;">AND</span> get a $10 gift card for future orders. Use code VD10 at checkout.</span><br />
<span style="color: #ff0000; font-size: 18pt;">Valid on orders placed thru 2/9. Cannot be combined with any other offer.</span>