<span style="font-weight: bold;">Use the code L6XRM4 while placing an order on the Floral App<br />
and receive 20% off!<br />
<br />
<span style="color: #cc0000;">Good Through May 1, 2011</span></span><br />