<p style="margin: 0px; text-align: center;"><span style="color: #cc0066; font-weight: bold; font-size: 14pt;">Valentine's Day is February 14th! </span></p>
<p style="margin: 0px; text-align: center;"><span style="color: #cc0066; font-weight: bold; font-size: 14pt; ">Save $10 off your order placed on our app AND get a $10 gift card for future orders. Use code VD10</span></p>