Order any Thanksgiving flower or gift on our mobile app and receive 15% off. Use code <span style="font-weight: bold;">THANKS</span> during checkout. <br />
<br />
<span style="font-style: italic;">This offer cannot be combined with any other offer. Only good on our floralapp. Cannot be transferred to in store promotions or online promotions. </span>Offer expires 11/24/2011.<br />