Receive $10 off French Tulips when ordering through floralapp!<br />
<br />
These 10 beautiful French Tulips are arranged in a decorative vase. Your well wishes will always be welcomed with a floral sentiment as special as this! <br />
<br />
Our florists use only the freshest flowers available so colors may vary.<br />
<br />
See SKU #BW406<br />