Summer Sunflowers Special:<br />
<br />
Order now and you can get 10 Stunning Sunflowers arranged in a vase for just $19.95, that's half off!<br />
<br />
<span style="font-weight: bold; ">*Valid for local delivery and pick up only.</span><br />
<br />
Click &quot;Shop&quot; then look for the &quot;Sunflowers Special&quot; category.