Save $10.00 off every order until 12/18/2011 when place via our Floralapp <br />
Use coupon code F2011<br />
<br />
Order now for delivery later&nbsp;&nbsp; <br />
<br />
Guaranteed quality at the same cost whether it is sent around the corner or anywhere in the USA