There is <span style="font-weight: bold">still time to have your Holiday Gifts hand-delivered </span>for you in time for Christmas or Hanukkah.<br />
<br />
You also can <span style="font-weight: bold; text-decoration: underline">save $10.00 off every order of $50.00 or more<br />
<br />
</span>We still have a good selection of quality flowers as well as Fruit baskets with goodies, Snack basket and Gourmet baskets.<br />
<br />