<br />
<br />
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt; font-weight: bold">Minnesota Grown</span></p>
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt; font-weight: bold">&nbsp;Roses</span></p>
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt">for Valentine's Day!</span></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt">Save $10.00 when you order</span></p>
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt">with Floralapp!</span></p>
<p style="text-align: center; margin: 0px"></p>
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt">Simply use code Rose </span></p>
<p style="text-align: center; margin: 0px"><span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 12pt">at checkout.</span></p>