Buy 1 dozen red roses on our Floralapp and receive 1 dozen red roses <span style="font-weight: bold;">FREE</span>!!! <span style="font-style: italic;">(Cannot be combined with other in store offers. Only valid on our mobile app.)</span><br />