﻿<%@ Page Language="C#" MasterPageFile="~/Admin/AdminMaster.master" AutoEventWireup="true" CodeFile="NeedsWork.aspx.cs" Inherits="Admin_NeedsWork" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPageContainer" Runat="Server">
    <h2>NEEDS WORK 
    </h2>
</asp:Content>

