﻿<%@ Page Language="C#" MasterPageFile="~/Admin/AdminMaster.master" AutoEventWireup="true" CodeFile="ResellerSettings.aspx.cs" Inherits="Admin_ResellerSettings" Title="floralapp&reg; | Reseller Settings" Theme="GraySkin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphPageContainer" Runat="Server">

</asp:Content>

